body {
        height: 150%;
        width: 100%;
        background-color: rgb(252, 252, 252);
    }

    h2 {
        user-select: none;
        margin-bottom: 45px;
    }

    .main1 {
        margin-top: 8%;
        padding-left: calc(9rem + 3vw);
        padding-right: calc(2rem + 3vw);
    }

    .grid {
        display: grid;
        grid-template-columns: 2em 2em 2em 2em;
        column-gap: 22rem;
        row-gap: 15rem;
    }

    .one {
        height: 18em;
        width: 18em;
        background-color: rgb(252, 252, 252);

    }

    .img {
        height: 18em;
        width: 20em;
        object-fit: fill;
    }

    h3 {
        margin-left: -15px;
        margin-top: 15px;
    }

    p {
        margin-top: 0px;
        text-transform: capitalize;
    }

    .stars {
        margin-top: -3px;
        margin-top: 5px;
        margin-bottom: 15px;
        color: green;
    }

    span {
        color: rgb(34, 34, 34);
    }

    .add-btn{
        margin-top: 8px;
        font-weight: bolder;
        height: 2.5em;
        width: 8em;
        border-radius: 65px;
        border: 2px solid rgb(53, 53, 53);
    }

    button:hover {
        background-color: darkgreen;
        color: white;
        cursor: pointer;
    }

    .one1 {
        height: 18em;
        width: 18em;
        background-color: rgb(253, 253, 253);
    }

    .price {
        font-size: 15px;
        font-weight: bolder;
        margin-left: 15px;
    }

    .heart:hover {
        cursor: pointer;
        color: rgb(128, 0, 0);
    }

    .heart {

        font-size: 1.55em;
        color: rgb(12, 12, 12);
        margin-left: 90%;
    }

    ul {
        padding-top: 0px;
        display: flex;
        list-style: none;
        justify-content: center;
        gap: 45px;
    }

    h3 {
        padding: 15px;
    }


    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font-family: roboto;
    }

    html,
    body {
        height: 100%;
        width: 100%;
        background-color: #f9f8f8;
    }

    .nav-bar {
        height: 7vh;
        padding: 0 8vh;
        width: 100%;
        background-color: rgb(155, 154, 154);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav-bar .logo {
        margin-left: -301px;
        color: white;
        font-size: 1.5em
    }

    .nav-bar .anchors {
        display: flex;
        align-items: center;
        gap: 8vh;
        cursor: pointer;
        font-size: 1.5vh;
    }

    .anchors .input {
        height: 3.5vh;
        width: 20vw;
        background-color: rgb(207, 207, 207);
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: .4vh;
        overflow: hidden;
    }

    .input input {
        width: 90%;
        height: 100%;
        outline: none;
        border: none;
        padding-left: 2vh;
    }

    .input #search {
        height: 100%;
        width: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(214, 214, 214);
        font-size: 1.6vh;
        text-align: end;
    }

    .nav-bar .anchors ul {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        cursor: pointer;
        gap: 3vh;
        color: white;
        font-size: 1.5em
    }

    .icons {
        font-size: 1.5vh;
        cursor: pointer;
        display: flex;
        gap: 2vh;
        color: white;
        font-size: 1.25em
    }

    .icons #account {
        margin-right: 1vh;

    }

    .icons i {
        font-weight: 100;
        cursor: pointer;
        font-size: 2.2vh;
        color: white;
        font-size: 1.5em
    }

    .menu div {
        width: 25px;
        height: 14px;
        background: rgb(4, 4, 4);
        margin: 7px 0;
        border-radius: 5px;
        transition: 0.4s;
    }

    .price3 {
        display: none;
        position: absolute;
        top: 80px;
        left: 1590px;
        height: 1500px;
        width: 300px;
        background-color: rgb(214, 208, 208);
        overflow: hidden;
    }

    .rate {
        color: rgb(255, 255, 255);
        margin-left: 20px;
    }

    .nm {
        color: rgb(255, 255, 255);
        margin-left: 20px;
    }

    .pics {

        margin-top: 5%;
        margin-left: 20px;
        object-fit: cover;
        height: 4em;
        width: 4em;
    }

    .item {
        display: flex;
        background-color: rgb(122, 127, 127);
    }

    .dark {
        background-color: #353434;
        color: white;
    }

    .light {
        background-color: rgb(232, 230, 230);
    }

    .color {
        margin-left: 40%;
    }

    .h1 {
        font-size: 2.5em;
        font-family: gill system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .tggle {
        margin-left: 39px;
        font-size: 1.75em;
        border-radius: 10px;
        height: 2em;
        width: 8em;
        background-color: rgb(213, 215, 215);
        cursor: pointer;
        margin-bottom: 50px;
    }